* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: gainsboro;
}

.page-container {
  width: 800px;
  margin: 10px auto;
  padding: 32px;
  background-color: white;
  border-radius: 25px;
}

.store-container {
  text-align: center;
}

.product-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.product-list .product-list-item {
  padding: 10px 30px;
  width: 200px;
}